/* Controles de paginación */
.pagination-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 120px;
}

.pagination-controls button {
  background-color: #ffcc00; /* Color amarillo Pokémon */
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.pagination-controls button:hover {
  background-color: #ffaa00; /* Color más oscuro al pasar el cursor */
  transform: scale(1.05);
}

.pagination-controls button:disabled {
  background-color: #ddd;
  color: #aaa;
  cursor: not-allowed;
}