.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-container {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.pagination-container li {
  margin: 0 5px;
}

.pagination-container li a {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.active a {
  background-color: #4caf50;
  color: white;
}

.pagination-container li a:hover {
  background-color: #ddd;
}
