/* Contenedor de la barra de navegación */
.container-navbar {
  display: flex;
  flex-direction: column;
  background-color: #ad3b33;
  width: 100%;
  height: 200px; /* Permite que la altura se ajuste automáticamente */
  align-items: center;
  padding: 20px;
}

/* Estilo del logo */
.logo {
  display: block;
  margin: 0 auto;
  height: auto;
  max-height: 300px;
  margin-top: 25px;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out; /* Transición suave */
}

/* Aumentar tamaño del logo al pasar el mouse */
.logo:hover {
  transform: scale(1.3); /* Incrementa el tamaño en un 10% */
}

/* Ajustes específicos para pantallas pequeñas */
@media (max-width: 800px) {
  .container-navbar {
    height: 100px;
    padding: 20px;
  }

  .logo {
    max-height: 150px;
    margin-top: 20px;
  }
}
