.searchBar {
  display: flex;
  flex-direction: column; /* Cambiar dirección para que los elementos estén uno debajo del otro */
  justify-content: center;
  align-items: center;
  padding: 140px;
}

.container-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px;
  border: 5px solid #ccc;
  border-radius: 25px;
  background-color: #d2d4d5a5;
  position: relative; /* Necesario para posicionar el ícono */
}

.search-icon {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  transition: transform 0.3s ease;
}

.search-icon.focused {
  transform: scale(1.5);
}

.input-search {
  flex-grow: 1;
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 15px;
  outline: none;
  transition: box-shadow 0.4s ease;
}

.input-search:focus {
  box-shadow: 0 0 16px rgba(4, 150, 247, 0.83);
}

.image-container {
  margin-top: 30px; /* Espacio entre la barra de búsqueda y la imagen */
}

.pokeball-image {
  width: 130px;
  height: 150px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.pokeball-image:hover {
  transform: scale(1.2); /* Aumentar el tamaño al pasar el mouse */
}
