/* moduloSearchPokemon.css */
.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 130px;
}

.container-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 25px;
  background-color: #d2d4d5a5;
  position: relative; /* Necesario para la imagen */
}

.search-icon {
  width: 20px;
  height: 30x;
  margin-right: 15px;
  transition: transform 0.3s ease; /* Animación para el ícono */
}

.search-icon.focused {
  transform: scale(1.5); /* Aumentar el tamaño cuando está enfocado */
}
.outside-image{
  width: 50px;
  height: 100x;
  margin-right: 15px;
  transition: transform 0.3s ease;

}
.input-search {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  outline: none;
  transition: box-shadow 0.3s ease; /* Transición para la sombra */
}

.input-search:focus {
  box-shadow: 0 0 5px rgba(2, 148, 245, 0.756); /* Resaltar el input */
}

.input-search:focus + .search-container .search-icon {
  display: block; /* Mostrar el ícono solo cuando el input está enfocado */
}

/* Agregar un estilo para la imagen que aparece cuando se hace clic */


.input-search:focus + .search-container::after {
  opacity: 1; /* Mostrar imagen cuando el input está enfocado */
}
